
@model FileSharingApp.Models.ChangePasswordViewModel
@inject IViewLocalizer Localizer

<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>@Localizer["Title"]</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="contact" method="post" class="mu-contact-form" asp-action="ChangePassword" asp-controller="Account">
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="@Localizer["CurrentPassword"]" id="name" required>
                                            <span asp-validation-for="CurrentPassword"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="@Localizer["NewPassword"]" id="name" required>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="@Localizer["ConfirmNewPassword"]" id="name" required >
                                            <span asp-validation-for="ConfirmNewPassword"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>@Localizer["Submit"]</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>
