@model FileSharingApp.Models.UserViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Info";
}


@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
}

<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>@Localizer["InfoTitle"]</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="contact" method="post" class="mu-contact-form" asp-action="Info" asp-controller="Account">
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="text" asp-for="FirstName" class="form-control" placeholder="@Localizer["FirstName"]" id="name" required>
                                            <span asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="text" asp-for="LastName" class="form-control" placeholder="@Localizer["LastName"]" id="name" required>
                                            <span asp-validation-for="LastName"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Email"]" id="name" required readonly>
                                            <span asp-validation-for="Email"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>@Localizer["Submit"]</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>

@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial", new ChangePasswordViewModel())}*@
<partial name="_ChangePasswordPartial" model="new ChangePasswordViewModel()" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
